<nav class="navigation d-flex justify-content-evenly">
  <div class="d-flex flex-column align-items-center">
    <div class="routes d-flex align-items-center">
      <img src="../../../../assets/logo.png" alt="homeImage" />
      <ul class="nav justify-content-between">
        <a href="/home">Home</a>
        <a href="/consumption">Consumption</a>

        <a href="/about">Advices</a>
      </ul>
    </div>
  </div>
  <div class="buttonGroup">
    <button class="btn btn-light" id="signBtn" (click)="signOut()">
      Sign Out
    </button>
  </div>
</nav>
